@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
.quickLinks {
  .quickLinkIcon {
    vertical-align: middle;
    padding-right: 5px;
    line-height: 20px;
  }
  .linkRow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .link {
    text-decoration: none;
  }
}

:global {
  .linkListPropertyPane {
    .remove {
      position: absolute;
      right: 5px;
      color: #000;
      z-index: 1;
      line-height: 28.8px;
      font-size: 10px;
      cursor: pointer;
    }
    .linkContainer {
      position: relative;
      margin-bottom: 5px;
      margin-top: 5px;
    }
    .listLink {
      input {
        padding-right: 36px;
      }
    }
    .linkLabel {
      padding-bottom: 5px;
    }
  }
}
