@import "~office-ui-fabric-react/dist/sass/References.scss";

.quickLinks {
    .quickLinkIcon {
        vertical-align: middle;
        padding-right: 5px;
        line-height: 20px;
    }
    .linkRow {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .link {
        text-decoration: none;
    }
}
